@import "../../variables.scss";

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, $main-color, $secondary-color);
  padding: 1rem 6rem;
  min-height: 100vh;
  button {
    color: $lighter-color;
    padding: 0.5rem;
    background-color: $main-color;
    border-radius: 20px;
    border: $main-color 1px solid;
  }
}

.calendar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: $lighter-color;
}

button:hover {
  color: $main-color;
  background-color: $lighter-color;
  border: $main-color 1px solid;
}
