@import "./variables.scss";

* {
  margin: 0;
  font-family: $font-family;
  padding: 0;
}

button {
  cursor: pointer;
  transition:
    0.5s ease,
    transform 0.5s ease;
}

#app {
  img {
    display: none;
    width: 300px;
  }

  #intro-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    #intro {
      display: flex;
      margin: 1rem;
      flex-direction: column;
      max-width: 45rem;

      button {
        background-color: $main-color;
        cursor: pointer;
        color: $lighter-color;
        border: $main-color 1px solid;
        border-radius: 50px;
        padding-inline: 1rem;
        padding-block: 0.6rem;
        margin-block: 1rem;
        max-width: 9rem;
        font-size: 1rem;
      }

      button:hover {
        background-color: $lighter-color;
        color: $main-color;
        border: $main-color 1px solid;
      }

      #img-intro {
        width: 7.5rem;
        margin: 0 auto;
      }

      #lumen-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem;
        width: 100%;
      }
    }
  }

  span {
    color: $main-color;
  }

  p {
    margin-block: 1rem;
    color: $grey-color;
  }

  #lumen {
    max-width: 70dvw;
  }

  ul {
    list-style: none;
    padding: 0;
    color: $grey-color;
  }

  #easy-life-flex {
    display: flex;
    justify-content: center;

    #easy-life {
      display: flex;
      background-color: rgba(240, 99, 184, 0.15);
      margin: 1rem;
      padding: 1rem;
      border-radius: 40px;
      max-width: 45rem;
      flex-direction: column-reverse;
    }

    #reservation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem;
    }

    img {
      width: 12.5rem;
      margin: 0 auto;
    }
  }

  #case-grid {
    margin: 0 auto;
    max-width: 45rem;
  }

  #managment {
    display: flex;
    flex-direction: column;
    align-items: center;
    #logiciel {
      text-align: center;
      padding-block: 2rem;
      max-width: 45rem;
    }

    h3 {
      margin: 1rem;
    }

    p {
      margin: 1rem;
    }

    .case {
      padding: 1.5rem;
      margin: 1rem;
      border-radius: 30px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        display: flex;
        justify-content: flex-start;
      }

      button:hover {
        color: $main-color;
      }
    }

    #case-grid {
      display: flex;
      justify-items: center;
      flex-wrap: wrap;
      justify-content: center;

      button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    #diary {
      background-color: rgba(45, 205, 122, 0.15);
    }

    #alert {
      background-color: rgba(126, 114, 242, 0.15);
    }

    #activity {
      background-color: rgba(240, 99, 184, 0.15);
    }

    #communication {
      background-color: rgba(45, 156, 219, 0.15);
    }
  }
}

@media screen and (min-width: 725px) {
  #app {
    #intro-flex {
      #intro {
        flex-direction: row;

        #img-intro {
          display: block;
          width: 9rem;
        }
      }
    }
  }
}

@media screen and (min-width: 585px) {
  #app {
    #easy-life-flex {
      #easy-life {
        flex-direction: row;
      }
    }
  }
}
