$main-color: #7166d9;
$secondary-color: #d72e80;
$darker-color: #000;
$grey-color: #6e6e6e;
$lighter-grey-color: #e8e8e8;
$lighter-color: #fff;

$font-family: "Adamina", serif;

$h1-size: 3rem;
$h2-size: 2.5rem;
$h3-size: 2rem;
$h4-size: 2rem;
$p-size: 2rem;
