$main-color: #7e72f2;
$secondary-color: #f063a7;
$darker-color: #000;
$grey-color: #4b5d68;
$lighter-color: #fff;

$font-family: "Adamina", serif;

$h1-size: 3rem;
$h2-size: 2.5rem;
$h3-size: 2rem;
$h4-size: 2rem;
$p-size: 2rem;
