$lighter-color: #fff;

@mixin mediaQ($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.nav-bar-profile {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: space-evenly;
  background-color: $lighter-color;
  padding: 1rem;
  gap: 2rem;

  div {
    transition: transform 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  @include mediaQ(768px) {
    display: none;
  }
}
