@import "../../variables.scss";

#sign-up-pro-fieldset {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-between;
  border: 1px solid $lighter-grey-color;
  border-radius: 10px;

  div {
    margin: 0.5rem;
  }

  input {
    margin-inline: 0.5rem;
  }

  #fieldset-radio {
    display: flex;
  }

  .radio {
    display: flex;
    align-items: center;
  }
}
