@mixin médiaQ($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to bottom right, #474fff, #e37acc);
  height: 100vh;

  @include médiaQ(768px) {
    flex-direction: row;
    background: none;
    padding: 0;
  }

  p {
    display: none;
    @include médiaQ(768px) {
      display: block;
    }
  }
}
