@import "../../variables.scss";

.sign-up-pro-button {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  gap: 3rem;
  max-width: 330px;

  #next-button {
    color: $lighter-color;
    padding: 0.5rem;
    background-color: $main-color;
    border-radius: 20px;
    border: $main-color 1px solid;
  }

  #next-button:hover {
    color: $main-color;
    background-color: $lighter-color;
    border: $main-color 1px solid;
  }

  #previous-button {
    color: $main-color;
    padding: 0.5rem;
    background-color: $lighter-color;
    border: $lighter-color 1px solid;
  }

  #previous-button:hover {
    color: $grey-color;
  }
}
