@import "../../variables.scss";

#footer {
  border-top: 1px solid rgba(126, 114, 242, 0.15);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    text-align: center;
  }

  #p {
    font-size: 0.8rem;
  }

  ul {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: $main-color;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  li:hover {
    color: $main-color;
  }

  #footer-top {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    flex-direction: column;

    div {
      text-align: center;
    }
  }

  button {
    border-radius: 50px;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    margin: 1rem;
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media screen and (min-width: 650px) {
  #footer {
    #footer-top {
      flex-direction: row;
    }

    h2 {
      font-size: 1.5rem;
    }

    ul {
      font-size: 1.2rem;
    }

    #p {
      font-size: 0.9rem;
    }
  }
}
