@import "../../variables.scss";

#footer {
  border-top: 1px solid rgba(126, 114, 242, 0.15);
  padding: 1rem;

  p {
    text-align: center;
  }

  #p {
    margin: 1rem;
  }

  ul {
    text-align: center;
    margin: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: $main-color;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  li:hover {
    color: $main-color;
  }

  #footer-top {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    flex-direction: column;

    div {
      text-align: center;
    }
  }

  button {
    border-radius: 50px;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    margin: 1rem;
  }
  #btn-more {
    background-color: $secondary-color;
    border: $secondary-color 1px solid;
    color: $lighter-color;
  }

  #btn-more:hover {
    background-color: $lighter-color;
    color: $secondary-color;
    border: $secondary-color 1px solid;
  }

  #btn-demo {
    background-color: $lighter-color;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  #btn-demo:hover {
    background-color: $main-color;
    color: $lighter-color;
    span {
      color: $lighter-color;
    }
  }

  h2 {
    margin: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
}

@media screen and (min-width: 650px) {
  #footer {
    #footer-top {
      flex-direction: row;
    }
  }
}
