.custom-schedule-meeting {
  --border-radius: 20px;
  --background: $lighter-color;
  --color: $main-color;
  --highlight-color: $lighter-color;
  --text-align: center;
  --text-color: $lighter-color;
}
