@import "../../variables.scss";

@mixin mediaQ($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  min-height: 100vh;

  .profile-card {
    max-width: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    @include mediaQ(768px) {
      display: flex;
      flex-direction: column;
    }

    span {
      width: 4rem;
      height: 4rem;
      margin: 1rem;
      background: linear-gradient(
        to bottom right,
        $main-color,
        $secondary-color
      );
      color: $lighter-color;
      font-size: 1.5rem;
    }
  }

  .profile-name {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: none;
      margin-inline: 1rem;

      p {
        font-size: 1rem;
      }
    }
  }

  .profile-line {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 30rem;

    button,
    a {
      border-radius: 50px;
      padding-inline: 1rem;
      padding-block: 0.8rem;
      margin: 1rem;
      font-size: 0.7rem;
    }

    a {
      background-color: $main-color;
      text-decoration: none;
      color: $lighter-color;
      border: 1px solid $main-color;
    }
    a:hover {
      background: $lighter-color;
      color: $main-color;
    }

    button {
      background-color: #d90429;
      border: 1px solid #d90429;
      color: $lighter-color;
      max-width: fit-content;
    }

    button:hover {
      background-color: $lighter-color;
      color: #d90429;
    }

    .profile-text {
      color: $main-color;
    }

    .profile-buttons {
      display: flex;
      flex-direction: column;
    }
  }

  p {
    display: flex;
    justify-content: center;
  }

  img {
    border: 1px solid $lighter-color;
    margin: 1rem;
    width: 8rem;
    border-radius: 100px;
    @include mediaQ(768px) {
      margin-bottom: 1rem;
    }
  }

  .profile-text {
    color: $lighter-color;
    margin: 1rem;
    @include mediaQ(768px) {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 500px) {
  .profile {
    .profile-line {
      .profile-buttons {
        flex-direction: row;

        button,
        a {
          font-size: 0.9rem;
        }
      }

      button {
        font-size: 0.9rem;
      }
    }
  }
}
