@import "../../variables.scss";

$grey-color: #878787;
$primary-color: #474fff;
$secondary-color: #e37acc;
$darker-color: #000;
$lighter-color: #fff;

@mixin mediaQ($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.profile {
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );
  display: flex;
  flex-direction: column;
  background-size: cover;
  min-height: 100vh;

  button {
    margin: 1rem;
  }

  .profile-name {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: none;
      margin-inline: 1rem;
    }
  }

  .profile-element {
    display: flex;
    flex-direction: column;
  }

  .profile-name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
    @include mediaQ(768px) {
      display: flex;
      justify-content: space-between;
      margin: 2rem;
      height: 260px;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    button {
      background: none;
      font-size: 16px;
      padding-inline: 1rem;
    }

    input {
      display: none;
      @include mediaQ(768px) {
        display: flex;
        border-radius: 10px;
        padding: 0.5rem;
        border: $grey-color 1px solid;
        width: 80dvw;
        max-width: 18rem;
        color: $grey-color;
      }
    }
    p {
      display: flex;
      justify-content: center;
      @include mediaQ(768px) {
        font-size: 1.5rem;
      }
    }
  }
  img {
    border: 1px solid $lighter-color;
    margin: 1rem;
    width: 8rem;
    border-radius: 100px;
    @include mediaQ(768px) {
      margin: 0;
      margin-bottom: 1rem;
    }
  }
  .text {
    text-align: center;
    margin: 1rem;

    p {
      margin: 1rem;
    }

    .profile-text {
      color: $lighter-color;
      margin: 1rem;
      @include mediaQ(768px) {
        font-size: 1.5rem;
      }
    }
  }
}

.documents {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mediaQ(768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 2rem;
  }
}
