$primary-color: #474fff;
$secondary-color: #e37acc;
$darker-color: #000;
$lighter-color: #fff;

@mixin mediaQ($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
.sign {
  color: $lighter-color;
  @include mediaQ(768px) {
    color: $darker-color;
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 1rem;
    width: 90%;
  }
}
.authentication-input {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  @include mediaQ(768px) {
    display: flex;
    flex-direction: column;
    gap: 35rem;
    width: 50%;
  }
  img {
    @include mediaQ(768px) {
      display: none;
    }
  }
  h2 {
    font-size: 1.5rem;
    color: $lighter-color;

    @include mediaQ(768px) {
      color: $darker-color;
      font-size: 2.5rem;
      padding: 2rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include mediaQ(768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
  }
  button {
    cursor: pointer;
    border-radius: 50px;
    padding-inline: 1rem;
  }

  input {
    text-align: center;
    border-radius: 50px;
    width: 50%;
  }
}

img {
  width: 70%;
  height: 70%;
}
