@import "../../variables.scss";

#sign-up-pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    margin-block: 0.5rem;
  }

  #flex-form {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45rem;

    p {
      font-size: 0.8rem;
    }
  }

  button {
    color: $lighter-color;
    padding: 0.5rem;
    background-color: $main-color;
    border-radius: 20px;
    border: $main-color 1px solid;
    margin: 1rem;
    transition:
      0.5s ease,
      transform 0.5s ease;
  }

  button:hover {
    color: $main-color;
    background-color: $lighter-color;
    border: $main-color 1px solid;
  }

  .structure-types {
    display: flex;
    flex-wrap: wrap;

    input[type="radio"] {
      display: none;

      &:checked + label {
        background-color: $main-color;
        color: $lighter-color;
      }
    }

    label {
      background-color: $lighter-grey-color;
      border: $grey-color 1px solid;
      border-radius: 10px;
      padding-inline: 0.6rem;
      padding-block: 0.4rem;
      margin-inline: 0.5rem;
      margin-block: 0.2rem;
      font-family: $font-family;
      font-size: 0.8rem;
    }
  }

  .sign-up-pro-input {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin-block: 0.5rem;
    }
  }

  .input-sign-up-pro {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }

  .sign-up-pro-button {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    gap: 3rem;

    #next-button {
      color: $lighter-color;
      padding: 0.5rem;
      background-color: $main-color;
      border-radius: 20px;
      border: $main-color 1px solid;
    }

    #next-button:hover {
      color: $main-color;
      background-color: $lighter-color;
      border: $main-color 1px solid;
    }

    #previous-button {
      color: $main-color;
      padding: 0.5rem;
      background-color: $lighter-color;
      border: $lighter-color 1px solid;
    }

    #previous-button:hover {
      color: $grey-color;
    }
  }

  input {
    border-radius: 10px;
    padding: 0.5rem;
    border: $grey-color 1px solid;
    width: 90%;
  }

  p {
    color: $grey-color;
  }
}

@media screen and (min-width: 368px) {
  form {
    margin-top: 2rem;
  }
}
